# TCP proxy to HAProxy for PostgreSQL
# Внешние порты (меняем при желании через group_vars):
#   write: {{ nginx_pg_write_listen | default(15432) }}
#   read : {{ nginx_pg_read_listen  | default(15433) }}

upstream pg_write {
    server 127.0.0.1:5432;  # HAProxy write
}
upstream pg_read {
    server 127.0.0.1:5433;  # HAProxy read
}

server {
    listen {{ nginx_pg_write_listen | default(15432) }};
    proxy_pass pg_write;
    proxy_timeout 1m;
    proxy_connect_timeout 5s;
}

server {
    listen {{ nginx_pg_read_listen | default(15433) }};
    proxy_pass pg_read;
    proxy_timeout 1m;
    proxy_connect_timeout 5s;
}
